@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 200;
    src: local('※'),
    url(../fonts/NotoSansKR-Light-Hestia.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
    url(../fonts/NotoSansKR-DemiLight-Hestia.woff2) format('woff2'),
    url(../fonts/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
    url(../fonts/NotoSansKR-Regular-Hestia.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('※'),
    url(../fonts/NotoSansKR-Medium-Hestia.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
    url(../fonts/NotoSansKR-Bold-Hestia.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('※'),
    url(../fonts/NotoSansKR-Black-Hestia.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Black-Hestia.otf) format('opentype');
}


/* ChaparralPro */
@font-face {
    font-family: 'Chaparral';
    font-style: normal;
    font-weight: 200;
    src: local('※'),
    url(../fonts/ChaparralPro-Light.woff2) format('woff2'),
    url(../fonts/ChaparralPro-Light.woff) format('woff'),
    url(../fonts/ChaparralPro-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Chaparral';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
    url(../fonts/ChaparralPro-Regular.woff2) format('woff2'),
    url(../fonts/ChaparralPro-Regular.woff) format('woff'),
    url(../fonts/ChaparralPro-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Chaparral';
    font-style: normal;
    font-weight: 600;
    src: local('※'),
    url(../fonts/ChaparralPro-Semibold.woff2) format('woff2'),
    url(../fonts/ChaparralPro-Semibold.woff) format('woff'),
    url(../fonts/ChaparralPro-Semibold.otf) format('opentype');
}
